{% extends 'base.html' %}
{% block title %}
  BooksADD
{% endblock title %}
{% block body %}

    <div class="container">
      <h3>ADD Members(s)</h3>
      <form action="/members" method="POST" class="forms" onsubmit="return validateconditionsmembers()">
        <div class="mb-3">
          <label for="memberid" class="form-label">MemberID</label>
          <input list="memberidlist" required type="number" class="form-control" id="memberid" name="memberid">
          <datalist id='memberidlist'>
            {% for member in allmembers  %}
            <option value="{{member.memberid}}"><p style="display: none;">{{member.memberid}}</p></option>              
            {% endfor %}
          </datalist>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Member Name</label>
          <input required type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
          <label for="outstanding_debt" class="form-label">Outstanding Debt</label>
          <input required type="number" class="form-control" name="outstanding_debt" id="outstanding_debt">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
</div>
{% endblock body %}
{% block scriptblock %}
  <script>
    $('#members-nav').toggleClass('active')
  </script>
{% endblock scriptblock %}<script>