{% extends 'base.html' %}
{% block title %}
  Members
{% endblock title %}
{% block body %}

<div style="display:flex" class="container my-4">
  <a href="/addrecord/members" class="add btn btn-outline-dark btn-sm mx-1 my-1" type="button">Add Members</a>
<form style="width:fit-content" class="d-flex mx-1 my-1" method="POST" action="/search/members" role="search">
  <input class="form-control me-2" name="searchitem"  id="searchmember" type="search" placeholder="Search Member..." aria-label="Search">
  <button class="btn btn-outline-dark"  type="submit">Search</button>
</form>
<a class="btn btn-outline-danger mx-2" href="/empty/members" type="button">Empty Member(s)</a>

</div>
<div class="container">
  {% if message  %}
  <ul class="flash-messages">
    <li class="fs-5 bg-success-subtle">{{message}}</li>
  </ul>  
{% endif %}
{% if error %}
  <p class='error fs-4 bg-danger-subtle'><strong class=""></strong> {{ error }}
{% endif %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">MemberID</th>
            <th scope="col">Name</th>
            <th scope="col">Outstanding debt</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for records in allrecords  %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{records.memberid}}</td>
            <td>{{records.name}}</td>
            <td>{{records.outstanding_debt}}</td>
            <td>
              <a href="/updaterecord/members/{{records.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
              <a href="/deleterecord/members/{{records.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
            </td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
</div>

    
{% endblock body %}
{% block scriptblock %}
  <script>
    $('#members-nav').toggleClass('active')
  </script>
{% endblock scriptblock %}<script>