{% extends 'base.html' %}
{% block title %}
  Transactions
{% endblock title %}
{% block body %}
<div class="container">
  <div style="display:flex" class="my-2 container">
    <a href="/addrecord/transactions" class="add btn btn-outline-dark btn-sm mx-1 my-1" type="button">Add Transaction</a>
    <form style="width:fit-content" class="d-flex mx-1 my-1" method="POST" action="/search/transactions" role="search">
      <input class="form-control me-2" name="searchitem"  id="searchtran" type="search" placeholder="Search transaction..." aria-label="Search">
      <button class="btn btn-outline-dark"  type="submit">Search</button>
    </form>
    <a class="btn btn-outline-danger mx-2" href="/empty/transactions" type="button">Empty transaction(s)</a>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <ul class="messages">
          {% for category,message in messages %}
              <li class=" {{ category }} ">{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
{% endwith %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">Transactionid</th>
            <th scope="col">BookId</th>
            <th scope="col">MemberId</th>
            <th scope="col">Date Issued</th>
            <th scope="col">Date Returned</th>
            <th scope="col">Rent Fee</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for records in allrecords %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{records.Transactionid}}</td>
            <td>{{records.bookid}}</td>
            <td
            {% if members %}
            title="{{members.name}}"
            {% endif %}
            >{{records.memberid}}</td>
            <td>{{ records.date_issued.strftime('%Y-%m-%d') }}</td>
            <td>{{ records.date_returned.strftime('%Y-%m-%d') }}</td>
            <td>{{records.rent_fee}}</td>
            <td>{{records.status}}</td>
            <td>
              <a href="/updaterecord/transactions/{{records.sno}}" class="btn btn-outline-dark btn-sm mx-1">Update</a>
              <a href="/deleterecord/transactions/{{records.sno}}" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

    
{% endblock body %}
{% block scriptblock %}
  <script>
    $('#transaction-nav').toggleClass('active')
  </script>
{% endblock scriptblock %}<script>