{% extends 'base.html' %}
{% block body %}
    <div class="container">
      <h3>Update Member</h3>
    <form action="/updaterecord/members/{{record.sno}}" method="POST" class="forms">
        <div class="mb-3">
          <label for="memberid" class="form-label">Memberid</label>
          <input type="hidden" name="memberid" value="{{ record.memberid }}">
          <input required type="text" value="{{record.memberid}}" class="form-control" name="memberid" id="memberid" aria-describedby="emailHelp" disabled title="MemberID cannot be changed">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">members Name</label>
          <input required type="text" value="{{record.name}}" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
          <label for="outstanding_debt" class="form-label">Outstanding Debt</label>
          <input type="hidden" name="outstanding_debt" value="{{ record.outstanding_debt }}">
          <input required type="text" value="{{ record.outstanding_debt }}" class="form-control" disabled title="Update transaction to remove debt">

        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
</div>
{% endblock body %}
{% block scriptblock %}
  <script>
    $('#members-nav').toggleClass('active')
  </script>
{% endblock scriptblock %}<script>