{% extends 'base.html' %}
{% block body %}
    <div class="container">
      <h3>Update Member</h3>
    <form action="/updaterecord/members/{{record.sno}}" method="POST" class="forms">
        <div class="mb-3">
          <label for="memberid" class="form-label">Memberid</label>
          <input type="text" value="{{record.memberid}}" class="form-control" name="memberid" id="memberid" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">members Name</label>
          <input type="text" value="{{record.name}}" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
          <label for="outstanding_debt" class="form-label">Outstanding Debt</label>
          <input type="text" value="{{record.outstanding_debt}}" class="form-control" name="outstanding_debt" id="outstanding_debt">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
</div>
{% endblock body %}
{% block scriptblock %}
  <script>
    $('#members-nav').toggleClass('active')
  </script>
{% endblock scriptblock %}<script>