{% extends 'base.html' %}
{% block title %}
    Update tran..
{% endblock title %}
{% block body %}
<div class="container">
    <h3>Update Transactions</h3>
    
      <form action="/updaterecord/transactions/{{record.sno}}" method="POST" class="forms">
          <div class="mb-3">
            <label for="transactionid" class="form-label">Transaction Id</label>
            <input type="number" value="{{record.Transactionid}}"  name="transactionid" class="form-control" id="transactionid">
          </div>
          <div class="mb-3">
            <label for="bookid" class="form-label">Bookid</label>
            <input type="number" value="{{record.bookid}}" name="bookid" class="form-control" id="bookid">
          </div>
          <div class="mb-3">
            <label for="memberid" class="form-label">Memberid</label>
            <input type="number" value="{{record.memberid}}" name="memberid" class="form-control" id="memberid">
          </div>
          <div class="date-class mb-3">
            <label for="date_issued" class="form-label">Date issued</label>
            <input style="width:50%" type="date" value="{{record.date_issued}}" name="date_issued" class="form-control mx-1" id="date_issued">
            <label for="date_returned" class="form-label">Date Returned</label>
            <input style="width:50%" type="date" value="{{record.date_returned}}" name="date_returned" class="form-control mx-1" id="date_issued">
          </div>
          <div class="mb-3">
            <label for="rent_fee" class="form-label">Rent fee</label>
            <input type="currency" value="{{record.rent_fee}}" name="rent_fee" class="form-control" id="rent_fee">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="paid" value="Paid" checked>
            <label class="form-check-label" for="paid">
              Paid
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="pending" value="Pending" checked>
            <label class="form-check-label" for="pending">
              Pending
            </label>
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
  </div>
</div>
{% endblock body %}
{% block scriptblock %}
  <script>
    $('#transaction-nav').toggleClass('active')
  </script>
{% endblock scriptblock %}<script>